@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    
    <main>
        <!--conteudo da primeira seção da pagina -->
        <section class="mainONe" id="mainOne">
            <img src="~/img/logo/logoIconeNav.png" class="mainImg" alt="fotoInicialDaMain">
            <article class="mainTitle">
                <h1> Temos o compromisso de te levar a lugares incriveis</h1>
            </article>
            <article class="mainDescricao">
                <h3> Aqui você VayVem com a gente!</h3>
            </article>
        </section>
        <!--segunda seção da pagina-->
        <section class="mainTwo">
            <div class="mainPromo">
                <h2>Destinos na Promoção</h2>
            </div>
            <article class="mainPromoPic">
                <a href="/Clientes/Index" class="item">
                    <img src="~/img/main promo/destinos/um.png" alt="">
                </a>
            <a href="/Clientes/Index" class="item">
                    <img src="~/img/main promo/destinos/dois.png" alt="">
                </a>
            <a href="/Clientes/Index" class="item">
                    <img src="~/img/main promo/destinos/treis.png" alt="">
                </a>
            </article>
            <!--terceira seção da pagina-->
        </section>
        <section class="mainTwo">
            <div class="mainPromo">
                <h2>Hoteis na Promoções</h2>
            </div>
            <article class="mainPromoPic">
            <a href="/Clientes/Index" class="item">
                    <img src="~/img/main promo/hoteis/um.png" alt="">
                </a>
            <a href="/Clientes/Index" class="item">
                    <img src="~/img/main promo/hoteis/dois.png" alt="">
                </a>
            <a href="/Clientes/Index" class="item">
                    <img src="~/img/main promo/hoteis/treis.png" alt="">
                </a>
            </article>
        </section>
        <!--quarta seção da pagina-->
        <section class="mainTwo">
            <div class="mainPromo">
                <h2>Orfeta de Pacote</h2>
            </div>
            <article class="mainPromoPic">
            <a href="/Clientes/Index" class="item">
                    <img src="~/img/main promo/oferta/um.png" alt="">
                </a>
            <a href="/Clientes/Index" class="item">
                    <img src="~/img/main promo/oferta/dois.png" alt="">
                </a>
            <a href="/Clientes/Index" class="item">
                    <img src="~/img/main promo/oferta/tres.png" alt="">
                </a>
            </article>
        </section>
    </main>
