@page
@model Vayvem.Pages.Contatos.IndexModel
@{
}

<section class="mainONe" id="mainOne">
    <img src="~/img/logo//logoIconeNav.png" class="mainImg" alt="fotoInicialDaMain">
    <article class="mainTitle">
        <h1> Temos o compromisso de te levar a lugares incriveis</h1>
    </article>
    <article class="mainDescricao">
        <h3> Aqui você VayVem com a gente!</h3>
    </article>
</section>
