@page
@model Vayvem.Pages.Destinos.IndexModel
@{
}
<div class="destinos">
    <div class="container py-3">
        <div class="mainPromoD">
            <h2>Destinos</h2>
        </div>
        <section class="mainONeD" id="mainOneD">
            <div class="card" style="width: 18rem;">
                <img src="~/img/main destinos/um.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-black">Ilha de Itamaracá</h5>
                    <p class="card-text">
                        A ilha de Itamaracá já deu nome a uma das capitanias hereditárias do Brasil
                        e foi palco de disputas coloniais no século 17.
                    </p>
                    <a href="/Clientes/Index" class="btn btn-primary">Preços e mais</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="~/img/main destinos/dois.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-black">Rio de Janeiro</h5>
                    <p class="card-text">
                        O Rio de Janeiro, cidade à beira-mar, famosa pelas
                        praias de Copacabana e Ipanema e Cristo Redentor
                    </p>
                    <a href="/Clientes/Index" class="btn btn-primary">Preços e mais</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="~/img/main destinos/tres.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-black">Jalapão</h5>
                    <p class="card-text">
                        Jalapão é uma unidade de conservação brasileira de
                        proteção integral à natureza localizada na região leste do estado do Tocantins.
                    </p>
                    <a href="/Clientes/Index" class="btn btn-primary">Preços e mais</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="~/img/main destinos/quatro.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-black">Lençóis Maranhenses</h5>
                    <p class="card-text">
                        É uma unidade de conservação brasileira de proteção
                        integral à natureza localizada na região nordeste do estado do Maranhão.
                    </p>
                    <a href="/Clientes/Index" class="btn btn-primary">Preços e mais</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="~/img/main destinos/seis.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-black">Instituto Inhotim</h5>
                    <p class="card-text">
                        É UMA sede acervos
                        de arte contemporânea do Brasil e considerado o maior museu a céu aberto do mundo.
                    </p>
                    <a href="/Clientes/Index" class="btn btn-primary">Preços e mais</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="~/img/main destinos/cinco.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-black">Serra da Capivara</h5>
                    <p class="card-text">
                        É uma unidade de conservação brasileira de proteção integral à natureza,
                        patrimônio pré-histórico do país.
                    </p>
                    <a href="/Clientes/Index" class="btn btn-primary">Preços e mais</a>
                </div>
            </div>
        </section>
        <!--segunda seção da pagina-->
        <section class="mainTwoD">
            <div class="mainPromoD">
                <h2>Destinos na Promoção</h2>
            </div>
            <article class="mainPromoPicD">
                <a href="/Clientes/Index" class="item">
                    <img src="~/img/main promo/destinos/um.png" alt="">
                </a>
                <a href="/Clientes/Index" class="item">
                    <img src="~/img/main promo/destinos/dois.png" alt="">
                </a>
                <a href="/Clientes/Index" class="item">
                    <img src="~/img/main promo/destinos/treis.png" alt="">
                </a>
            </article>
        </section>
    </div>
</div>
