@page
@model Vayvem.Pages.Promocoes.IndexModel
@{
}

<div class="promocoes">
    <div class="container py-3">
        <section class="mainTwoP">
            <div class="mainPromoP">
                <h2>Promoções</h2>
            </div>
            <article class="mainPromoPicP">
                <a href="/Clientes/Index" class="item">
                    <img src="~/img/main promo/destinos/um.png" alt="">
                </a>
                <a href="/Clientes/Index" class="item">
                    <img src="~/img/main promo/destinos/dois.png" alt="">
                </a>
                <a href="/Clientes/Index" class="item">
                    <img src="~/img/main promo/destinos/treis.png" alt="">
                </a>
                <a href="/Clientes/Index" class="item">
                    <img src="~/img/main promo/hoteis/um.png" alt="">
                </a>
                <a href="/Clientes/Index" class="item">
                    <img src="~/img/main promo/hoteis/dois.png" alt="">
                </a>
                <a href="/Clientes/Index" class="item">
                    <img src="~/img/main promo/hoteis/treis.png" alt="">
                </a>
            </article>
            <section class="mainTwoP">
                <div class="mainPromoP">
                    <h2>Orfeta de Pacote</h2>
                </div>
                <article class="mainPromoPicP">
                    <a href="/Clientes/Index" class="item">
                        <img src="~/img/main promo/oferta/um.png" alt="">
                    </a>
                    <a href="/Clientes/Index" class="item">
                        <img src="~/img/main promo/oferta/dois.png" alt="">
                    </a>
                    <a href="/Clientes/Index" class="item">
                        <img src="~/img/main promo/oferta/tres.png" alt="">
                    </a>
                </article>
            </section>
        </section>
    </div>
</div>