@page
@model Vayvem.Pages.Hoteis.IndexModel
@{
}

<div class="hoteis">
    <div class="container py-3">
        <div class="mainPromoH">
            <h2>Hoteis</h2>
        </div>
        <section class="mainONeH" id="mainOneH">
            <div class="card" style="width: 18rem;">
                <img src="~/img/main hoteis/um.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-black">Hotel Orange</h5>
                    <p class="card-text">
                        Cercado de árvores, este hotel à beira-mar animado fica
                        a 3 minutos de caminhada do Forte Orange, uma fortaleza colonial holandesa.
                    </p>
                    <a href="/Clientes/Index" class="btn btn-primary">Preços e mais</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="~/img/main hoteis/dois.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-black">Hilton Barra</h5>
                    <p class="card-text">
                        hotel de luxo fica a 4 minutos a pé de um ponto de ônibus,
                        a 1 km do Centro Aquático Maria Lenk, 3 km da casa de espetáculos Qualistage.
                    </p>
                    <a href="/Clientes/Index" class="btn btn-primary">Preços e mais</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="~/img/main hoteis/tres.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-black">Ibis Palmas</h5>
                    <p class="card-text">
                        Com acomodações confortáveis e espaçosas, decoração moderna e
                        ótimo atendimento, está na cidade a negócios ou mesmo a passeio.
                    </p>
                    <a href="/Clientes/Index" class="btn btn-primary">Preços e mais</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="~/img/main hoteis/quatro.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-black">Gran Lençóis Flat</h5>
                    <p class="card-text">
                        Refúgio simples que oferece um restaurante buffet e uma pizzaria,
                        além de bar, piscina e sala de ginástica.
                    </p>
                    <a href="/Clientes/Index" class="btn btn-primary">Preços e mais</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="~/img/main hoteis/cinco.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-black">Hotel Serra da Capivara</h5>
                    <p class="card-text">
                        Na cidade de São Raimundo, dispõe de uma piscina
                        ao ar livre e um restaurante, possui 44 apartamentos, sendo 10 executivos
                    </p>
                    <a href="/Clientes/Index" class="btn btn-primary">Preços e mais</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="~/img/main hoteis/seis.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-black">POUSADA VERDE VILLAS</h5>
                    <p class="card-text">
                        Cabanas e chalés casuais com solário ao ar livre e vista
                        para a mata em pousada com restaurante e jardins.
                    </p>
                    <a href="/Clientes/Index" class="btn btn-primary">Preços e mais</a>
                </div>
            </div>

        </section>
        <!--segunda seção da pagina-->
        <section class="mainTwoH">
            <div class="mainPromoH">
                <h2>Hoteis na Promoções</h2>
            </div>
            <article class="mainPromoPicH">
                <a href="/Clientes/Index" class="item">
                    <img src="~/img/main promo/hoteis/um.png" alt="">
                </a>
                <a href="/Clientes/Index" class="item">
                    <img src="~/img/main promo/hoteis/dois.png" alt="">
                </a>
                <a href="/Clientes/Index" class="item">
                    <img src="~/img/main promo/hoteis/treis.png" alt="">
                </a>
            </article>
        </section>
    </div>
</div>