@page
@model Vayvem.Pages.Clientes.IndexModel
@{
}

<br />
<h2>Lista de Clientes</h2>
<a class="btn btn-success btn-sm" href="/Clientes/Create">Cadastrar Cliente</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Cpf</th>
            <th>Endereço</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Data de Modificação</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>